@font-face {
    font-family: space;
    src: url('../fonts/Space-Notorious-rounded.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
html,
body {
    height: 100%;
    overflow: hidden;
    margin: 0 0;
    background-color: #000;
}
a:link,
a:visited,
a:hover,
a:active {
    color: #fff;
    text-decoration: none;
}
h1,
h2,
h3,
h4 {
    margin-block-start: 0;
    margin-block-end: 0;
}


.desktop .desktopOnly {
    display: block;
}
.desktop .mobileOnly {
    display: none;
}
.mobile .desktopOnly {
    display: none;
}
.mobile .mobileOnly {
    display: block;
}

.about {
    color: #fff;
    font-family: space;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 2;
    top: 0;
    left: 0;
}
.about-component {
    position: absolute;
    line-height: 0.8;
}
.about h1 {
    font-size: 80px;
}
.about h2 {
    font-size: min(7vw, 32px);
}
.about-name {
    bottom: 60px;
    left: 30px;
}
.about-contact {
    left: 300px;
    bottom: 110px;
    transform: rotate(6deg);
    animation-name: glow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    filter: drop-shadow(0px 0px 2px #E7E7FF);
}
.about-title {
    left: 30px;
    bottom: 30px;
}
.about-controls {
    display: none;
}
.about-controls-marquee {
    display: block;
    font-size: 24px;
    height: 40px;
    overflow: hidden;
    position: relative;
}

.about-controls-marquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 20s linear infinite;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.text-guide {
    font-family: 'Inconsolata', monospace;
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 0.8em;
}

.description {
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    font-size: 0.8em;
    position: relative;
    background-color: #fff;
    border: 2px solid;
    width: 85%;
    height: 90%;
    top: 5%;
    margin: 0 auto;
    z-index: 98;
    display: none;
}

.scroll-content {
    width: 100%;
    overflow-y: auto;
    height: 100%;
    line-height: 10pt;
} 

.description hr {
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

@media only screen and (min-width: 500px) {

    #text-guide {
        font-size: 1em;
    }
}

@media only screen and (min-width: 900px) {
    /* For desktop */

    .about {
        height: 100vh;
    }
    .about-component {
        line-height: 0.8;
    }
    .about h1 {
        font-size: 4em;
    }
    .about h2 {
        font-size: 2.5em;
    }
    .about-name {
        top: 2vw;
        left: 2vw;
    }
    .about-contact {
        position: absolute;
        right: 2vw;
        top: 2vw;
        bottom: unset;
        left: unset;
        transform: unset;
        animation: none;
        filter: unset;
    }
    .about-contact:hover {
        animation-name: glow;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in;
        filter: drop-shadow(0px 0px 2px #E7E7FF);
    }
    .about-title {
        left: 2vw;
        bottom: 2vw;
    }
    .about-controls {
        border: solid 1px white;
        font-size: 1.5em;
        text-align: right;
        bottom: 2vw;
        right: 2vw;
        padding: 0.6em;
        line-height: 1.2;
        display: block;
    }
    .about-controls-marquee.desktopOnly {
        display: none;
    }
    
    .description {
        width: 90%;
        top: 5%;
        margin: 0 auto;
        display: none;
    }
    .description h1 {
        font-size: 2.0em;
    }
    .description p {
        font-size: 0.9em;
    }
    .scroll-content .caption {
        font-size: 0.9em;
    }
}

@keyframes glow {
    0% {
        text-shadow: 0px 0px 1px #E7E7FF;
        /* -webkit-filter: drop-shadow(0px 0px 2px #E7E7FF); */
        /* filter: drop-shadow(0px 0px 2px #E7E7FF); */
    }
    100% {
        text-shadow: 0px 0px 6px #E7E7FF;
        /* -webkit-filter: drop-shadow(0px 0px 8px #E7E7FF); */
        /* filter: drop-shadow(0px 0px 8px #E7E7FF); */
    }
}